.user-info-container {
    width: 90%;
    min-width: 45%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 350px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 250px;

    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 18px;
    line-height: 40px;
    background-color: rgb(143, 212, 189);

}

.ui-container-header {
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    background-color: rgb(235, 235, 235);
}
