@import url('https://fonts.googleapis.com/css?family=Actor');


.register-form {
    display: flex;
    flex-direction: column;
    font-family: 'Actor', sans-serif;
}

.input-box {
    min-width: 30%;
    max-width: 300px;
    min-height: 250px;
    display: inline-flex;
    flex-direction: column;
    background-color: silver;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 0px;
}

.register-button {
    width: 65px;
    height: 19px;
    display: inline;
    margin: 5px 10px;
    padding: 2px 0px;
    font-size: 11px;
    font-family: 'Actor', sans-serif;
    line-height: 11px;
}



input {
    width: 65%;
    max-width: 200px;
    height: 17px;
    margin: 10px;
}