
.login-box {
    display: inline-block;
    width: 40%;
    height: 300px;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(226, 224, 224);
    color: black;

}

.input-header {
    padding: 30px;
    font-size: 25px;
}

.login-inputs input {
    width: 250px;
    height: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.login-buttons {
    margin-top: -10px;
}

.login-buttons button {
    width: 70px;
    height: 25px;
    margin: 7px;
    border-radius: 3px;
}